
<html>

<head>

  <title>Welcome Page</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #19a5cb;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
    }

    .welcome-container {
      text-align: center;
    }

    .highlight {
      color: rgb(71, 88, 182);
    }
  </style>
</head>

<body>
  <div class="welcome-container">
    <h1>Welcome <span class="highlight"> SardulR</span></h1>
  </div>
</body>

</html>
